In [0]:
pip install asyncio aiohttp understat

Requirement already satisfied: asyncio in /usr/local/lib/python3.6/dist-packages (3.4.3)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.6/dist-packages (3.6.2)
Requirement already satisfied: understat in /usr/local/lib/python3.6/dist-packages (0.1.2)
Requirement already satisfied: idna-ssl>=1.0; python_version < "3.7" in /usr/local/lib/python3.6/dist-packages (from aiohttp) (1.1.0)
Requirement already satisfied: async-timeout<4.0,>=3.0 in /usr/local/lib/python3.6/dist-packages (from aiohttp) (3.0.1)
Requirement already satisfied: typing-extensions>=3.6.5; python_version < "3.7" in /usr/local/lib/python3.6/dist-packages (from aiohttp) (3.6.6)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.6/dist-packages (from aiohttp) (1.4.2)
Requirement already satisfied: chardet<4.0,>=2.0 in /usr/local/lib/python3.6/dist-packages (from aiohttp) (3.0.4)
Requirement already satisfied: multidict<5.0,>=4.5 in /usr/local/lib/python3.6/dist-packages (from aiohttp) (4.7.4)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.6/dist-packages (from aiohttp) (19.3.0)
Requirement already satisfied: pytest-mock in /usr/local/lib/python3.6/dist-packages (from understat) (2.0.0)
Requirement already satisfied: pytest in /usr/local/lib/python3.6/dist-packages (from understat) (3.6.4)
Requirement already satisfied: pytest-aiohttp in /usr/local/lib/python3.6/dist-packages (from understat) (0.3.0)
Requirement already satisfied: pytest-cov in /usr/local/lib/python3.6/dist-packages (from understat) (2.8.1)
Requirement already satisfied: bs4 in /usr/local/lib/python3.6/dist-packages (from understat) (0.0.1)
Requirement already satisfied: codecov in /usr/local/lib/python3.6/dist-packages (from understat) (2.0.15)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.6/dist-packages (from idna-ssl>=1.0; python_version < "3.7"->aiohttp) (2.8)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from pytest->understat) (42.0.2)
Requirement already satisfied: more-itertools>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from pytest->understat) (8.0.2)
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from pytest->understat) (1.8.1)
Requirement already satisfied: atomicwrites>=1.0 in /usr/local/lib/python3.6/dist-packages (from pytest->understat) (1.3.0)
Requirement already satisfied: pluggy<0.8,>=0.5 in /usr/local/lib/python3.6/dist-packages (from pytest->understat) (0.7.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from pytest->understat) (1.12.0)
Requirement already satisfied: coverage>=4.4 in /usr/local/lib/python3.6/dist-packages (from pytest-cov->understat) (5.0.3)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (from bs4->understat) (4.6.3)
Requirement already satisfied: requests>=2.7.9 in /usr/local/lib/python3.6/dist-packages (from codecov->understat) (2.21.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.9->codecov->understat) (2019.11.28)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.9->codecov->understat) (1.24.3)

In [0]:
#importing packages

import asyncio

import json

import aiohttp

import pandas as pd

import re

import ast

import numpy as np

from functools import reduce

from scipy import spatial

import plotly.graph_objects as go

from understat import Understat

In [0]:
#defining function to scrape Understat data (https://understat.com/league/EPL)

async def main(team_title):
    async with aiohttp.ClientSession() as session:
        understat = Understat(session)
        players = await understat.get_league_players(
            "epl",
            2019,
        )
        return(json.dumps(players))

loop = asyncio.get_event_loop()

In [0]:
#defining functions to organize data from strings to dictionaries

def splittodict(inputstring): 
    inputstring = inputstring[1:-1]
    pattern = re.compile(r'(?<=\{)(.*?)(?=\})')
    listofmatches = re.findall(pattern, inputstring)
    listofmatches2 = []
    for match in listofmatches: 
        match2 = '{' + match + '}'
        match3 = ast.literal_eval(match2)
        listofmatches2.append(match3)
    return(listofmatches2)

In [0]:
#function to transform dictionaries into dataframes

def dicttodf(inputdict): 
    df = pd.DataFrame.from_dict(inputdict, orient = 'index')
    df2 = df.transpose()
    return df2

In [0]:
#getting Understat data for players in the English Premier League

mainoutput = loop.run_until_complete(main('Manchester United'))

outputdicts = splittodict(mainoutput)

outputdfs = []

for dictionary in outputdicts: 
    dictionarydf = dicttodf(dictionary)
    outputdfs.append(dictionarydf)

In [0]:
#merging dataframes

mergeddataframe = reduce(lambda left, right: pd.merge(left, right, how = 'outer'), outputdfs)

In [0]:
#dataset with statistics

mergeddataframe

       id                player_name  ...              xGChain            xGBuildup
0     755                Jamie Vardy  ...   12.235153935849667   0.7696032430976629
1     619              Sergio Agüero  ...     13.7228037789464   2.3636222975328565
2     318  Pierre-Emerick Aubameyang  ...   11.226708762347698   2.3485346734523773
3     556            Marcus Rashford  ...   12.893335608765483   2.9352949280291796
4     986                 Danny Ings  ...    10.65714230760932    2.066059786826372
..    ...                        ...  ...                  ...                  ...
462  8222            Japhet Tanganga  ...   0.2807402275502682   0.2638383209705353
463  8226              Tariq Lamptey  ...  0.06915584951639175                    0
464  8239            Takumi Minamino  ...  0.07584588974714279  0.07584588974714279
465  8254           Indiana Vassilev  ...                    0                    0
466  8257           Gedson Fernandes  ...  0.11599519476294518  0.04856030270457268

[467 rows x 18 columns]

In [0]:
#estimating values of players based on their statistics: goals, assists, expected goal chain

values = []

for player in mergeddataframe.values: 
    goals = player[4]
    assists = player[6]
    xgchain = player[16]
    value = abs(np.random.normal(float(goals), 5)) + abs(np.random.normal(float(assists), 3)) + abs(np.random.normal(float(xgchain), 2)) + 5

    values.append(value)

In [0]:
mergeddataframe['value'] = values

In [0]:
mergeddataframe.to_csv('datasetofvalues.csv')

In [0]:
#defining stats per 90 minutes

def calculate_per90(metric): 
    return round(mergeddataframe[metric].astype(float) / mergeddataframe['time'].astype(float) * 90, 2)

In [0]:
mergeddataframe['G90'] = calculate_per90('goals')

mergeddataframe['xG90'] = calculate_per90('xG')

mergeddataframe['shots90'] = calculate_per90('shots')

mergeddataframe['A90'] = calculate_per90('assists')

mergeddataframe['xA90'] = calculate_per90('xA')

mergeddataframe['KP90'] = calculate_per90('key_passes')

mergeddataframe['xGChain90'] = calculate_per90('xGChain')

mergeddataframe['xGBuildup90'] = calculate_per90('xGBuildup')

In [0]:
mergeddataframe

       id                player_name games  ...  KP90 xGChain90 xGBuildup90
0     755                Jamie Vardy    22  ...  0.70      0.57        0.04
1     619              Sergio Agüero    18  ...  1.38      1.11        0.19
2     318  Pierre-Emerick Aubameyang    22  ...  0.74      0.52        0.11
3     556            Marcus Rashford    22  ...  1.14      0.61        0.14
4     986                 Danny Ings    24  ...  0.92      0.58        0.11
..    ...                        ...   ...  ...   ...       ...         ...
462  8222            Japhet Tanganga     2  ...  0.00      0.14        0.13
463  8226              Tariq Lamptey     1  ...  3.46      0.24        0.00
464  8239            Takumi Minamino     1  ...  0.00      0.12        0.12
465  8254           Indiana Vassilev     2  ...  0.00      0.00        0.00
466  8257           Gedson Fernandes     2  ...  4.09      0.47        0.20

[467 rows x 27 columns]

In [0]:
#matching functions

matchon = ['G90', 'xG90', 'shots90', 'A90', 'xA90', 'KP90', 'xGChain90', 'xGBuildup90']
matchdf = mergeddataframe[matchon]

In [0]:
matchdf

      G90  xG90  shots90   A90  xA90  KP90  xGChain90  xGBuildup90
0    0.79  0.59     2.42  0.19  0.13  0.70       0.57         0.04
1    1.30  0.99     4.71  0.24  0.20  1.38       1.11         0.19
2    0.65  0.47     2.54  0.05  0.12  0.74       0.52         0.11
3    0.67  0.72     3.52  0.19  0.15  1.14       0.61         0.14
4    0.76  0.54     3.14  0.05  0.07  0.92       0.58         0.11
..    ...   ...      ...   ...   ...   ...        ...          ...
462  0.00  0.01     0.50  0.00  0.00  0.00       0.14         0.13
463  0.00  0.00     0.00  0.00  0.24  3.46       0.24         0.00
464  0.00  0.09     1.55  0.00  0.00  0.00       0.12         0.12
465  0.00  0.00     0.00  0.00  0.00  0.00       0.00         0.00
466  0.00  0.21     4.09  0.00  0.07  4.09       0.47         0.20

[467 rows x 8 columns]

In [0]:
tree = spatial.KDTree(matchdf)

In [0]:
#finding players most similar to Sergio Aguero

aguerodata = mergeddataframe.loc[mergeddataframe['player_name'] == 'Sergio Agüero'][matchon]
results = tree.query(aguerodata, k = 11)

In [0]:
mergeddataframe.iloc[results[1].tolist()[0]]

       id          player_name games  time  ...  xA90  KP90 xGChain90 xGBuildup90
1     619        Sergio Agüero    18  1109  ...  0.20  1.38      1.11        0.19
14   5543        Gabriel Jesus    20  1181  ...  0.14  1.07      1.24        0.32
9    1250        Mohamed Salah    20  1725  ...  0.26  1.88      1.01        0.31
3     556      Marcus Rashford    22  1890  ...  0.15  1.14      0.61        0.14
5     702        Tammy Abraham    23  1873  ...  0.13  0.91      0.71        0.04
10   4105         Raúl Jiménez    24  2039  ...  0.28  1.68      0.69        0.15
115  6842  Alireza Jahanbakhsh     5   250  ...  0.36  1.44      0.41        0.12
6     618      Raheem Sterling    22  1861  ...  0.25  1.60      1.08        0.38
16    482      Roberto Firmino    23  1911  ...  0.24  1.51      0.92        0.32
35   2662    Christian Pulisic    16  1083  ...  0.19  1.58      0.83        0.33
104  4918      Patrick Cutrone    12   291  ...  0.15  0.62      0.71        0.00

[11 rows x 27 columns]

In [0]:
#comparing the most similar player to Sergio Aguero

fig = go.Figure()

categories = matchon
aguerodataplot = matchdf.iloc[results[1].tolist()[0][0]].values.tolist()
jesusdataplot = matchdf.iloc[results[1].tolist()[0][1]].values.tolist()

fig.add_trace(go.Scatterpolar(
      r = aguerodataplot,
      theta=categories,
      fill='toself',
      name='Product A'
))

fig.add_trace(go.Scatterpolar(
      r = jesusdataplot,
      theta=categories,
      fill='toself',
      name='Product B'
))

fig.update_layout(
  polar=dict(
    radialaxis=dict(
      visible=True,
      range=[0, 5]
    )),
  showlegend=False
)

fig.show()